* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    height: 90vh;
    background-color: darkslategray;
}

#gridButton {
    margin-top: 10vh;
    height: 80px;
    width: 160px;
}

#gridMap {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.gridRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 10vh;
}
/*
#container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/